body {
    background-color: #EAC926;
    font-family: Helvetica;
    text-align: center;
}
#tituloSeccion {
    color: blue;
    font-size: 24px;
}
p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;    
}