<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Compra y vende en Mercado Liebre, tu tienda online!</title>
    <link href="./css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <video autoplay muted loop class="myVideo">
        <source src="./images/video-abriendo.caja.mp4" type="video/mp4">
    </video>
    <main>
        <div class="formLogin">
            <form>
                <img class="logoHeaderLogin" src="./images/logo-mercado-liebre.png" alt="No encontre Imagen">
                <div>
                    <label>Nombre de usuario</label>
                </div>
                <div>
                    <input type="text" name="username" placeholder="perezjuan" minlength="6" maxlength="10">
                </div>
                <div>
                    <label>Contraseña</label>
                </div>
                <div>
                    <input type="password" name="password" minlength="6" maxlength="10">
                </div>
                <div>
                    <button type="reset">Borrar</button>
                    <button type="submit">Guardar</button>
                </div>
                <div class="terminosLogin">
                    <a href="#">Términos y condiciones</a>
                    <a href="../"> - Volver al sitio</a>
                </div>
            </form>
        </div>
    </main>
</body>

</html>