<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Compra y vende en Mercado Liebre, tu tienda online!</title>
    <link href="./css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <!-- ENCABEZADO con logo, barra de busqueda y claim --->
        <div class="headerTopBar">
            <img class="logoMercadoliebre" src="./images/logo-mercado-liebre.png" alt="No encontre Imagen">
            <h1 class="claimHeader"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito
            </h1>
        </div>
        <!-- MENU bajo encabezado con secciones (izq) e info usuario (der) --->
        <a href="#" class="burger-menu"> <i class="fas fa-bars"></i></a>
        <nav class="headerBottomBar">
            <ul class="navbarMenu">
                <li> <a href="#">Ofertas</a> </li>
                <li> <a href="#">Tiendas oficiales</a> </li>
                <li> <a href="#">Vender</a> </li>
                <li> <a href="#">Ayuda</a> </li>
            </ul>
            <ul class="navbarLogin">
                <li> <a href="./register.html">Creá tu cuenta <i class="far fa-address-card"></i></a> </li>
                <li> <a href="./login.html">Ingresá <i class="fas fa-sign-out-alt"></i></a> </li>
                <li> <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a> </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="productoDetalle">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="telefono">
            <h2>Samsung S10</h2>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>