<article>
    <img class=fotoProducto src=<%= product.productImage %> alt="No encontre Imagen">
    <ul class=descripcionProducto>
        <li class=logoEnvios><i class="fas fa-truck"></i></li>
        <li class=precios><%= product.productPrice %></li>
        <li class=descuentos><%= product.productOffer %></li>
        <li class=producto><%= product.productName %></li>
    </ul>
</article>