/* <!-- RESET config: --> */
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

li{
    list-style: none;
}

body{
    max-width: 1000px;
    margin: auto;
}

section{
    width: 90vw;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
}

/* <!-------- HEADERS -------> */

header{
    background-color: #fff159;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 980;
}

.logoMercadoliebre{
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.claimHeader{
    font-weight: 400;
    font-size: 16px;
    color: #337;
    text-align: center;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size: 14px; 
    color: rgb(80, 80, 80);
}


.navbarMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.navbarMenu a{
    list-style: none;
    color: #745900;
    display: inline-block;
    padding: 3px 1px 3px 1px;
    font-size: 14px;
    margin: 15px 10px;
}

.navbarLogin {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.navbarLogin a{
    list-style: none;
    color: #2b2b2b;
    display: inline-block;
    padding: 3px 1px 3px 1px;
    margin: 15px 10px;
    font-size: 14px;
    text-align: center;
}


.burger-menu{
    text-align: center;
    font-size: 20px;
    color:white;
    background-color: #1259c3;
    max-width: 50px;
    padding: 10px 0;
    display: block;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    animation: burgerAnimation 1s linear infinite alternate;
}

@keyframes burgerAnimation {
    0%{
        background-color:#1259c3;
    }
    100%{
        background-color:#beaf00;
    }
}

/* <!-------- HOME MAIN -------> */

article {
    margin: 10px;
    border-radius: 5px;
    max-width: 200px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p{
    font-size: 12px; 
    color: rgb(88, 88, 88);
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.logoEnvios{
    color:#39b54a;  
    font-size: 25px;
    list-style: none;
    margin-top: 0;
    display: flex;
    text-align:right;
    justify-content: right;
    position: absolute;
    top: 72%;
    left: 75%;
}

.precios{
    font-size: 18px;
    list-style: none;
    display: inline-block;
    padding: 15px 5px 0 25px;
}

.descuentos{
    color: #39b54a;
    font-size: 11px;
    justify-content: space-between;
    list-style: none;
    display: inline-block;
}

.producto{
    color: #666;
    font-size: 12px;
    justify-content: space-between;
    padding: 5px 5px 10px 25px;
    display: block;
}

.descripcionProducto{
    border-top: solid 1px #ebebeb;
    padding: 0px;
    margin: 0px;
}

.fotoProducto{
    width: 100%;
    height: 100%;
}

/* <!-------- HOME FOOTER -------> */

footer{
    text-align: center;
    color: rgb(173, 173, 173);
    background-color: darkgrey;
}

.iconoSeparador{
    text-align: center;
    color:#1259c3;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 450ms;
}


/* <!----- FORM nuevo producto: -----> */

.formNuevoProducto{
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
}

.formNuevoProducto div{
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
    padding: 3px;
}
/* <!----- FORM nuevo usuario: -----> */

.formNewUser{
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
.formNewUser div{
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 6px 0 6px 0;
}

/* <!----- FORM login: -----> */
.formLogin{
    background-color: #fff159;
    position: relative;
    top: 30px;
    display: flex;
    margin: auto;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formLogin form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px 0 10px;
    text-align: center;
}

.formLogin button {
    border-radius: 12px;
    transition-duration: 0.4s;
    border-style: none;
    padding: 10px 25px 10px 25px;
    margin: 0 10px 0 10px;
    font-size: 16px;
  }
  
  .formLogin button:hover {
    background-color: #5f5f5f;
    color: white;
  }

  .formLogin input {
    border-radius: 12px;
    border-color: #c7c7c7;
    border-style: solid;
    border-width: 1px;
    margin: 0 10px 0 10px;
    padding: 10px 0 10px 0;
    text-align: center;
  }

  .logoHeaderLogin{
      width: 90%;
      margin: 0 auto; 
  }

  /* Style the video: 100% width and height to cover the entire window */
.myVideo {
    left: 50%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
  
/* <!-- WEB descripcion producto: --> */
.productoDetalle{
    position: relative;
    top: 250px;
}
.productoDetalle img{
    width: 100%;
    padding: 0 0 0 0;
    align-items: center;
}

.productoDetalle h2{
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 450ms;
}

.productoDetalle:hover h2{
    opacity: 0.8;
    background-color: #fff159;
    border-radius: 20px;
}

.copyright{
    text-align: center;
    color: rgb(214, 214, 214);
    background-color: darkgrey;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* <!---------------- MEDIA QUERY tablet a partir de acá: -----------------> */

@media (min-width: 568px) {
    .claimHeader{
        max-width: 350px;
        text-align: right;
    }
    .burger-menu{
        display: none;
    }
    .headerTopBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headerBottomBar{
        display: flex;
        justify-content: space-between;
    }
    .headerBottomBar ul{
        display: flex;
        justify-content: space-between;
    }
    .headerBottomBar li{
        margin: 0 5px;
    }
    .logoMercadoliebre{
        max-width: 200px;
        display: inline-block;
        padding:  10px 5px 0 15px;
        margin: 0 0 0 0;
    }
    .claimHeader{
        font-weight: 400;
        font-size: 16px;
        color: #337;
        text-align: center;
        display: inline-block;
        padding: 0 10px 0 0;
        margin: 0 0 0 0;
    }
} 

/* <!---------------- MEDIA QUERY compu a partir de acá: -----------------> */

@media (min-width: 1000px){
    .headerTopBar, .headerBottomBar{
        max-width: 1000px;
        margin: auto;
        align-items: center;
    }
    .logoMercadoliebre{
        max-width: 200px;
        display: inline-block;
        padding:  10px 5px 0 15px;
        margin: 0 0 0 0;
    }
    .claimHeader{
        font-weight: 400;
        font-size: 16px;
        color: #337;
        text-align: center;
        display: inline-block;
        padding: 0 10px 0 0;
        margin: 0 0 0 0;
    }
    article {
        border-style: solid;
        border-color: rgba(204, 204, 204, 0.19);
        border-width: 1px;
        transition: 450ms;
        box-shadow: none;
    }
    
    article:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    article .producto{
        color: white;
        transition: 1000ms;
    }

   article:hover .producto{
        color: black;
    }

    article .logoEnvios{
        transition: 1000ms;
    }

    article:hover .logoEnvios{
        transform: rotate(-45deg);
    }
    footer{
        display:flex
    }

    .iconoSeparador:hover {
        color: #fff159;
    }
}