*{
    font-family: 'Roboto', sans-serif;
}

section{
    width: 90vw;
    text-align: left;
    box-sizing: border-box;
}

header{
    background-color: #fff159;
}

.logoMercadoliebre{
    max-width: 200px;
    margin: 10px 0 0 10px;
}

form.buscador input[type=text] {
    padding: 10px;
    font-size: 12px;
    border: 1px solid lightgray;
    float: left;
    width: 90%;
    background: white;
    margin: 10px 0px 10px 30px;
  }

.logoEnvios{
    color:#39b54a;
    font-size: 1.5em;
    margin-bottom: 2px;
}

article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    border-radius: 5px;
}

.claimHeader{
    font-weight: 400;
    font-size: 16px;
    color: #337;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 0;
}

h2{
    font-size: 18px; 
    color: #666;
}

p{
    font-size: 16px; 
    color: #666;
}

.navbarMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.navbarMenu a{
    text-decoration: none;
    color: #745900;
    display: inline-block;
    padding: 3px 1px 3px 1px;
    font-size: 14px;
    margin: 15px 10px;
}

.navbarLogin {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.navbarLogin a{
    text-decoration: none;
    color: #2b2b2b;
    display: inline-block;
    padding: 3px 1px 3px 1px;
    margin: 15px 10px;
    font-size: 14px;
    text-align: center;
}

footer{
    text-align: center;
    color: #666;
    background-color: white;
}

.iconoSeparador{
    text-align: center;
    color:#1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.precios{
    font-size: 20px;
}

.descuentos{
    color: #39b54a;
    font-size: 12px;
}

.producto{
    color: #666;
    font-size: 12px;
    margin-top: 1em;
}

.descripcionProducto{
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

.fotoProducto{
    width: 100%;
    height: 100%;
}

.burger-menu{
    text-align: center;
    font-size: 18px;
    color:white;
    background-color: #1259c3;
    max-width: 50px;
    padding: 15px 0;
    display: block;
    border-radius: 8px;
    margin: auto;
}



@media (min-width: 568px) {
    .claimHeader{
        max-width: 350px;
        text-align: right;
    }
    .burger-menu{
        display: none;
    }
    .headerTopBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .headerBottomBar{
        display: flex;
        justify-content: space-between;
    }
    .headerBottomBar ul{
        display: flex;
        justify-content: space-between;
    }
    .headerBottomBar li{
        margin: 0 5px;
    }
} 

@media (min-width: 1200px){
    .headerTopBar, .headerBottomBar{
        max-width: 1200px;
        margin: auto;
        align-items: center;
    }
}